/.venv
/.vscode
/bot_account.session
/bot_account.session-journal
/config.py
/temp.py
/*.jpg
/*.png
/videos
/yl.log
/__pycache__
/code_series.code-workspace
/testst.py
/ctdn.py
/colored_text.py
/first_project_series.py
/welcome.py
/starting.py
/*.mkv
/*.mp4
/*.webm
/*.opus
/*.flv
/.env
/trash.py 
/bot_package/__pycache__/*.pyc
/Test_modules
/__pycache__/*.pyc

# everything in the bot_package/__pycache__ folder
/bot_package/__pycache__/*
/bot_package/__pycache__/__init__.*



# cookies
/cookies.txt

